seaborn
pandas
matplotlib
plotly
numpy
streamlit
scipy
click
gspread
networkx
graphviz
yfinance
streamlit_toggle_switch
numba
scikit-learn
psutil
# torch
streamlit-profiler
celluloid
gymnasium
gym
torchvision
streamlit_analytics
qutip
torchviz
xgboost
umap
umap-learn
torch-scatter==2.1.1