# requrements.txt

# Core Data Science
pandas
matplotlib
plotly
seaborn
numpy

# Streamlit
streamlit
streamlit_toggle_switch
streamlit_analytics

#Computational and Scientific
scipy
numba
scikit-learn
psutil
umap
umap-learn
xgboost

# Network Analysis
networkx
graphviz
torchviz

# Data Access
click
gspread
yfinance

# Machine Learning
gymnasium
gym
torchvision
qutip
xgboost
